.dwqa-container {
	box-shadow: border-box
	-webkit-box-sizing: border-box;
}

.dwqa-staff {
	background: #1ba1e2;
	color: #fff;
	padding: 1px 5px;
	border-radius: 3px;
	margin: 0 5px;
}

.dwqa-pagination a,
.dwqa-pagination span {
	display: inline-block;
	margin-right: 5px;
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.dwqa-answers-list .dwqa-pagination {
	margin-top: 20px;
	margin-bottom: 20px;
}

.dwqa-captcha img {
	display: block;
	margin: 0 0 10px;
}

.dwqa-captcha input {
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dwqa-alert {
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
}

.dwqa-alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.dwqa-alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/**
 * Questions
 *
 * -----------------------------------------------------------------------------
 */

.dwqa-question-item {
	padding: 0 0 0 80px;
	position: relative;
	margin-bottom: 0;
}

.dwqa-question-item.dwqa-sticky {
	background: #fcf8e3;
}

.dwqa-question-item .avatar {
	position: absolute;
	left: 15px;
	top: 0;
	border-radius: 48px;
}

.dwqa-question-item .dwqa-question-meta {
	font-size: small;
	margin-bottom: 20px;
}

.dwqa-question-item .dwqa-question-title a {
	border: none !important;
	text-decoration: none !important;
}

.dwqa-question-item .dwqa-status {
	background: #1ba1e2;
	color: #fff;
	padding: 1px 5px;
	border-radius: 3px;
	margin-right: 5px;
}

.dwqa-question-item .dwqa-status-resolved {
	background: #578824;
}

.dwqa-question-item .dwqa-status-closed {
	background: #666;
}

.dwqa-question-vote {
	position: absolute;
	top: 70px;
	left: 6px;
	min-height: 60px;
}

.dwqa-question-vote .dwqa-vote {
	display: block;
	width: 0;
	height: 0;
	border: 16px solid transparent !important;
	border-bottom-color: #ddd !important;
	text-indent: -9999px;
	position: absolute;
	top: -20px;
	text-decoration: none !important;
	box-shadow: none !important;
}

.dwqa-question-vote .dwqa-vote-count {
	width: 32px;
	text-align: center;
	top: 14px;
	position: absolute;
	display: block;
	height: 32px;
	line-height: 32px;
}

.dwqa-question-vote .dwqa-vote:hover,
.dwqa-question-vote .dwqa-vote:active {
	border-bottom-color: #999 !important;
}

.dwqa-question-vote .dwqa-vote-down {
	border: 16px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top-color: #ddd !important;
	top: auto;
	bottom: -20px;
}

.dwqa-question-vote .dwqa-vote-down:hover,
.dwqa-question-vote .dwqa-vote-down:active {
	border-bottom-color: transparent !important;
	border-top-color: #999 !important;
}

.dwqa-question-item .dwqa-question-actions {
	float: right;
}

.dwqa-question-item .dwqa-question-actions label {
	display: inline-block;
}

.dwqa-question-item .dwqa-question-actions a {
	margin-left: 10px;
}

.dwqa-question-item .dwqa-question-actions input[type=checkbox] {
	margin-right: 5px;
}

.dwqa-pick-best-answer {
	position: absolute;
	top: 170px;
	text-indent: -9999px;
	left: 6px;
	width: 32px;
	height: 32px;
}

.dwqa-pick-best-answer:after {
	content: '';
	display: block;
	width: 15px;
	height: 25px;
	border: solid #ddd;
	border-width: 0 5px 5px 0;
	transform: rotate(45deg);
	position: absolute;
	left: 10px;
	top: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.dwqa-pick-best-answer:hover:after {
	border-color: #999;
}

.dwqa-best-answer .dwqa-pick-best-answer:after {
	border-color: #578824;
}

.dwqa-question-content img {
	max-width: 100%;
	height: auto;
}

.dwqa-question-tag + .dwqa-question-status {
	float: right;
}

.dwqa-question-item .dwqa-question-meta .dwqa-question-status select {
	display: inline-block;
	width: auto;
}

/**
 * Answers
 *
 * -----------------------------------------------------------------------------
 */

.dwqa-answers-title {
	margin: 20px 0 10px;
}

.dwqa-answer-item {
	padding: 20px 0 20px 70px;
	position: relative;
	border-top: 1px solid #ddd;
	min-height: 220px;
}

.dwqa-answer-item .dwqa-answer-meta a {
	position: inherit;
}

.dwqa-answer-item .avatar {
	position: absolute;
	left: 0;
	top: 20px;
	border-radius: 48px;
}

.dwqa-answer-item .dwqa-answer-meta {
	font-size: small;
	margin-bottom: 20px;
}

.dwqa-answer-vote {
	position: absolute;
	top: 90px;
	left: 6px;
	min-height: 60px;
}

.dwqa-answer-vote .dwqa-vote {
	display: block;
	width: 0;
	height: 0;
	border: 16px solid transparent !important;
	border-bottom-color: #ddd !important;
	text-indent: -9999px;
	position: absolute;
	top: -20px;
	text-decoration: none !important;
	box-shadow: none !important;
}

.dwqa-answer-vote .dwqa-vote-count {
	width: 32px;
	text-align: center;
	top: 14px;
	position: absolute;
	display: block;
	height: 32px;
	line-height: 32px;
}

.dwqa-answer-vote .dwqa-vote:hover,
.dwqa-answer-vote .dwqa-vote:active {
	border-bottom-color: #999 !important;
}

.dwqa-answer-vote .dwqa-vote-down {
	border: 16px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top-color: #ddd !important;
	top: auto;
	bottom: -20px;
}

.dwqa-answer-vote .dwqa-vote-down:hover,
.dwqa-answer-vote .dwqa-vote-down:active {
	border-bottom-color: transparent !important;
	border-top-color: #999 !important;
}

.dwqa-answer-item .dwqa-answer-actions {
	float: right;
}

.dwqa-answer-item .dwqa-answer-actions a {
	margin-left: 10px;
}

.dwqa-answer-content img {
	max-width: 100%;
	height: auto;
}

.dwqa-answer-form-title {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

.dwqa-answer-form form {
	text-align: right;
}

.dwqa-answer-form .dwqa-alert {
	text-align: left;
}

.dwqa-answer-form .dwqa-select {
	float: left;
	width: auto;
}

.dwqa-answer-form textarea {
	width: 100% !important;
	margin-bottom: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/**
 * Comments
 *
 * -----------------------------------------------------------------------------
 */

.dwqa-comments-list {
	background: #f9f9f9;
	padding: 0 10px;
}

.dwqa-comments-list .dwqa-comment {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	position: relative;
}

.dwqa-comments-list .dwqa-comment p:last-child {
	margin-bottom: 0;
}

.dwqa-comments-list .dwqa-comment:last-child {
	border-bottom: none;
}

.dwqa-comments-list .dwqa-comment-meta {
	font-size: small;
}

.dwqa-comments-list .dwqa-comment-meta .avatar {
	position: inherit;
	margin-right: 5px;
	display: inline-block;
	width: 12px;
	height: 12px;
}

.dwqa-comment-form {
	padding: 10px;
	background: #f9f9f9;
}

.dwqa-comment-form .comment-form {
	margin: 0 !important;
	padding: 0 !important;
}

.dwqa-comment-form #submit {
	display: none;
}

.dwqa-comment-form .dwqa-comment-show-button #submit {
	display: block;
	margin-top: 10px;
}

.dwqa-comment-form .comment-form textarea {
	background: #fff;
	width: 100% !important;
	height: 45px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #ddd;
	padding: 10px 15px;
	display: block;
}

.dwqa-comment-form textarea {
	width: 100%;
}

.dwqa-comment-meta {
	margin-bottom: 10px;
}

.dwqa-comment-actions {
	float: right;
}

.dwqa-comment-actions a {
	margin-left: 10px;
}

/**
 * Archive Page
 *
 * -----------------------------------------------------------------------------
 */

/* Breadcrumbs */
.dwqa-breadcrumbs {
    display: none;
    
}

/* Question Search */
.dwqa-search {
	margin-bottom: 20px;
	position: relative;
}

.dwqa-search input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 40px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 0 !important;
	background: url(../img/icon-search.png) no-repeat right 10px center #fff !important;
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-radius: 2px;
	box-shadow: none;
	outline: none;
}

.dwqa-search input.ui-autocomplete-loading {
	background-image: url(../img/icon-loading.gif) !important;
}

.submit-dwqa-question .dwqa-search input {
	background: none no-repeat right 10px center #fff !important;
}

.submit-dwqa-question .dwqa-search input.ui-autocomplete-loading {
	background-image: url(../img/icon-loading.gif) !important;
}

.dwqa-search .dwqa-autocomplete {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #f9f9f9;
	left: 0 !important;
	position: absolute !important;
	right: 0 !important;
	top: auto !important;
	z-index: 9999;
}

.dwqa-search .dwqa-autocomplete li {
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

.dwqa-search .dwqa-autocomplete .dwqa-text-highlight {
	font-weight: bold;
}

.dwqa-search .dwqa-autocomplete li.ui-state-focus,
.dwqa-search .dwqa-autocomplete li:hover {
	background: #f0f0f0;
}

.dwqa-search .dwqa-autocomplete li:last-child {
	border-bottom: 0;
}

/* Question Filter */
.dwqa-question-filter {
	margin-bottom: 20px;
}

.dwqa-question-filter span,
.dwqa-question-filter a {
	margin-right: 10px;
}

.dwqa-question-filter a {
	border: none !important;
	text-decoration: none;
}

.dwqa-question-filter a.active {
	border-bottom: 1px solid #ddd !important;
}

.dwqa-question-filter .dwqa-sort-by {
	float: right;
	width: auto;
}

/* Question List */
.dwqa-questions-list {
	border-top: 1px solid #ddd;
}

.dwqa-questions-list .dwqa-alert {
	margin: 20px 0 0;
}

.dwqa-questions-list .dwqa-question-item {
	border-bottom: 1px solid #ddd;
	padding: 15px 180px 15px 80px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.dwqa-questions-list .dwqa-question-item a {
	position: inherit;
}

.dwqa-questions-list .dwqa-question-item .avatar {
	top: 50%;
	margin-top: -24px;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-meta {
	margin-bottom: 0;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	right: 10px;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats span {
	min-width: 48px;
	height: 48px;
	border: 1px solid #ddd;
	display: block;
	float: left;
	margin-left: 5px;
	text-align: center;
	font-size: 11px;
	line-height: 1;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats strong {
	font-size: 14px;
	line-height: 26px;
	display: block;
	font-weight: normal;
}

.dwqa-questions-footer {
	margin-top: 20px;
}

.dwqa-questions-footer .dwqa-pagination,
.dwqa-questions-footer .dwqa-ask-question {
	display: inline-block;
}

.dwqa-questions-footer .dwqa-pagination + .dwqa-ask-question {
	float: right;
}

.dwqa-questions-footer .dwqa-ask-question a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ddd;
}

/**
 * Single Question
 *
 * -----------------------------------------------------------------------------
 */

.single-dwqa-question .dwqa-question-item {
	min-height: 140px;
	padding-left: 70px;
}

.single-dwqa-question .dwqa-question-item a {
	position: inherit;
}

.single-dwqa-question .dwqa-question-item .avatar {
	left: 0;
}


/**
 * Content Edit
 *
 * -----------------------------------------------------------------------------
 */

.dwqa-answer-form .wp-editor-container,
.dwqa-content-edit-form .wp-editor-container {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.dwqa-content-edit-form input[type=text],
.dwqa-content-edit-form input[type=email],
.dwqa-content-edit-form select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}


/**
 * Responsive
 *
 * -----------------------------------------------------------------------------
 */

@media ( max-width: 768px ) {
	.dwqa-questions-list .dwqa-question-item {
		padding-right: 15px;
	}

	.dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
		display: none;
	}
}

@media ( max-width: 480px ) {
	.dwqa-questions-list .dwqa-question-item {
		padding-left: 15px;
	}

	.dwqa-questions-list .dwqa-question-item .avatar {
		position: static;
		width: 14px;
		height: 14px;
		margin-right: 5px;
	}

	.single-dwqa-question .dwqa-question-item,
	.single-dwqa-question .dwqa-answer-item {
		padding-left: 0;
		min-height: 0;
	}

	.single-dwqa-question .dwqa-question-item .dwqa-question-vote,
	.single-dwqa-question .dwqa-answer-item .dwqa-answer-vote {
		display: none;
	}

	.single-dwqa-question .dwqa-question-item .avatar,
	.single-dwqa-question .dwqa-answer-item .avatar {
		position: static;
		width: 14px;
		height: 14px;
		margin-right: 5px;
	}
}
