<div id="slide-footer" class="slide-footer" style="padding: 20px;">
    <div class="footer-tel">
        <i class="pe-help1" aria-hidden="true" style="font-size: xx-large;"></i></br>
        <b style="font-size: large;">¿Aún tiene problemas?.. ¡Contáctenos ahora mismo!</b></br></br>
        <i class="pe-call" aria-hidden="true" title="(+52) 55 47 54 69 28"></i>&#09;(+52) 55 47 54 69 28
    </div>
    <div class="footer-mail">
        <i class="pe-mail" aria-hidden="true" title="soporte@haler.com.mx"></i>&#09;soporte@meet-medic.com
    </div>
    <div class="footer-links">
        <a href="http://ti.haler.com.mx/" class="link">Haler TI</a>
    </div>
</div>