<nav class="navbar navbar-default navbar-fixed-top" data-anchor-target="#slide-cover" data-0="@class:navbar navbar-default navbar-fixed-top;" data-0-bottom="@class:navbar navbar-default navbar-fixed-top other-pages;">
            
    <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="http://meet-medic.com/" style="color: #777; ">
            <img alt="."src="assets/img/logo.png" />Meet-Medic
        </a>
    </div>
    <style>
        .landing-page .navbar-default .navbar-nav > li > a {
            color: #777;
        }
    </style>
    <div id="navbar" class="navbar-collapse collapse" style="background-color: rgba(235, 232, 224, 0.90); ">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="http://www.haler.com.mx/ayuda-meet-medic/#Generalidades">Generalidades</a>
            </li>
            <li>
                <a class="page-scroll" href="http://www.haler.com.mx/ayuda-meet-medic/#Medicos">Médicos</a>
            </li>
            <li>
                <a class="page-scroll" href="http://www.haler.com.mx/ayuda-meet-medic/#UnidadesAdministrativas">Unidades Administrativas</a>
            </li>
            <li>
                <a class="signin" style="background: #5db0ed;" href="https://meet-medic.com/medcloud-web/login.html">Iniciar Sesión</a>
            </li>
        </ul>
    </div>
</nav>